/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1920px; line-height: 1.5; margin-left: auto; margin-right: auto; 
    min-height: 100vh; text-rendering: optimizeSpeed }
@media (max-width: 767px ) { body { text-rendering: optimizeSpeed } }
@media (min-width: 768px ) { body { text-rendering: optimizeLegibility } }
img { width: 100%; height: auto; display: block }
h1, h2, h3, h4 { width: 100% }
input, button, textarea, select { font: inherit }
img { width: 100%; height: auto; display: block }

/* ================= ENDS ================ */
@media (min-width: 768px) {
    body { padding: 4% 20% }
 }
 /* Mobiles */
 @media (max-width: 767px) {
    body { padding: 8% 5% }
 }

body { 
    background-color: #f8f5f3;
    border-top: solid 40px #ceb5ff;   
    border-bottom: solid 40px #ceb5ff
}
/* Desktops */

body {
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-size: 78px;
    font-weight: normal;
    letter-spacing: -2px;
    margin-bottom: 12px;
    line-height: 1.2;
}

h2 {
    font-size: 42px;
    letter-spacing: 6px;
    margin-bottom: 48px;
    line-height: 1.2;
}

h3 {
    font-size: 24px;
    margin-top: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
    text-transform: uppercase;
}

p {
    font-size: 20px;
    margin-bottom: 16px;
}
a { color: #6545a4; }

.container-flexbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}
.link {
    margin: 54px 0; /*  Only top and bottom margins have values */
    border-style: solid; /* Same value on all four sides. */
    border-width: 1px; /* All four borders have equal widths. */
    border-color: #000; /* All four borders have same black color. */
    padding: 20px;
    margin-bottom: 42px;
    width: 20%;   
}

.link p {
    font-size: 18px; /* Overrules p font-size valueoutside panel box. */
    line-height: 1.5; /* Overrules p line-height value outside panel box. */
    margin-bottom: 0; /* Overrules p margin-bottom value outside panel box. */
}

.link {
    padding: 22px; /* Extra padding at edges to make reversed text (light-on-dark) more readable */
    border-radius: 10px;
    border-color: #6545a4;
    background-color:  #e7daff; /* Add rounded effect to all four corners */ 
 }

/* BUTTTTTTTTTOOOOOOOOOONNNNNNNNN*/

 .center {
    display: flex;
    place-items: center;
    justify-content: center;
    text-align: center;
}

.outer {
    position: relative;
    margin: 0 5vw;
    background: linear-gradient(#e7daff, #6545a4);
}

.button {
    height: 7vh;
    width: 22vw;
    border-radius: 50px;
}

.circle {
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
}

.outer button,
.outer span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.outer button {
    background: #111;
    color: #f2f2f2;
    outline: none;
    border: none;
    z-index: 9;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.button button {
    height: 6vh;
    width: 21vw;
    border-radius: 50px;
}

.circle button {
    height: 18vh;
    width: 18vh;
    border-radius: 50%;
}

.outer span {
    height: 100%;
    width: 100%;
    background: inherit;
}

.button span {
    border-radius: 50px;
}

.circle span {
    border-radius: 50%;
}

.outer:hover span:nth-child(1) {
    filter: blur(0.7vw);
}

.outer:hover span:nth-child(2) {
    filter: blur(1.4vw);
}

.outer:hover {
    animation: rotate 1.5s linear infinite, pulse 1s infinite alternate;

}


@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
        transform: scale(1);
    }
    100% {
        filter: hue-rotate(360deg);
        transform: scale(1.2);
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}